<div class="container-fluid">
    <h1 style="text-shadow: 2px 2px; ">Let's START the JOURNEY today </h1>
    <div class="row row-cols-1 row-cols-md-4 g-4" style="padding:1%;">
        <div class="col">
            <img src="/assets/new2.png" width="330px">
        </div>
        <div class="col">
            <div class="card">
                <img src="/assets/pp2 (1).png" class="card-img-top ">
                <div class="card-body" style="background-color: rgb(93, 204, 29);">
                    <h5 class="card-title">Nursery(LKG & UKG)</h5>
                    <p class="card-text">This is an independent environment for your child to explore and learn. It
                        strengthens the foundation and teaches them to be self-independent socially and emotionally.</p>
                    <a href="#" class="card-link">Let's Start</a>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/assets/new1.png" class="card-img-top">
                <div class="card-body" style="background-color: rgb(93, 204, 29);">
                    <h5 class="card-title">Primary (1 std to 5std)</h5>
                    <p class="card-text">Primary education forms the bedrock of development.Children learn foundational
                        skills that prepare them for life, work and active citizenship.</p>
                    <a href="#" class="card-link">Let's Start</a>
                </div>
            </div>
        </div>
        <div class="col">
            <img src="/assets/on the books.png" style="height: 390px;">
        </div>
    </div>
</div>